<div class="container">
    <div class="monster">
        <div class="health-bar">
            <div class="health-bar-fill" [style.width]="calculateHealthBarWidthMonster()"></div>
        </div>
        <img [src]="img" class="characimg"> 
    </div>
    <div class="menu">
        <button class="action-button" (click)="onHeroAttack('atk')">Attaque</button>
        <button *ngIf="this.hero.classe === 'mage'" class="action-button" (click)="onHeroAttack('spell')">Lancer un sort</button>
        <button *ngIf="this.hero.classe === 'mage'" class="action-button"(click)="onManaPotion()">Potion de mana</button>
        <button class="action-button" (click)="onHealPotion()">Potion de soin</button>
        <button class="action-button" (click)="onTryToLeave()">Fuite</button>
    </div>
    <div class="hero">    
        <img src="../../assets/hero.png" class="characimg">
        <span class="level">level : {{this.hero.level}}</span>
        <div class="nbpotion"><img src="../../assets/healpot.png" class="healpot">x {{ hero.inventaire.potionvie }}</div>
        <div class="health-bar">
            <div class="health-bar-fill" [style.width]="calculateHealthBarWidthHero()"></div>
        </div>
        <div *ngIf="this.hero.classe === 'mage'" class="mana-bar">
            <div class="mana-bar-fill" [style.width]="calculateManaBarWidthHero()"></div>
        </div>
    </div>
</div>
