  .plateau{
    width: 95vw;
    height: 95vh; 
  }

  .case {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    font-size: 0px;
  }
  
  .pion {
    width: 100%;
    height: 100%;
    background-color: blue;
  }
  