@font-face {
  font-family: '1942';
  src:
       url('../../assets/web\ fonts/1942-webfont.woff') format('woff');
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container {
  margin: 0;
  padding: 0;
  height: 98vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../../assets/dgbackground.png);
  background-size: cover;
  overflow: hidden;
}

.card-content {
    text-align: center;
    background-color: burlywood;
    padding: 10%;
    border-radius: 10px;
    border: 4px solid #7f5f1b;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5);
}


h1 {
  font-size: 95px;
  margin-bottom: 20px;
  color: black;
  font-family: '1942';
  
}


button {
  background-color:burlywood;
  color:black;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 35px;
  margin: 0 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: '1942';
}

button:hover {
  background-color:black;
  color: burlywood;
}